---
name: Test Go
on:
  workflow_call:
    inputs:
      aqua_policy_config:
        required: false
        type: string
      aqua_policy_allow:
        required: false
        type: string
      aqua_version:
        required: true
        type: string
      go-version:
        required: false
        type: string
      go-version-file:
        required: false
        type: string
      golangci-lint-timeout:
        required: false
        type: string

permissions: {}

env:
  AQUA_POLICY_CONFIG: ${{inputs.aqua_policy_config}}
  AQUA_LOG_COLOR: always

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # To update pull requests by reviewdog
      contents: read # To checkout private repository
    steps:
      - run: |
          echo "::error:: Either go-version or go-version-file must be set."
          exit 1
        if: inputs.go-version == '' && inputs.go-version-file == ''
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{inputs.go-version}}
          go-version-file: ${{inputs.go-version-file}}
          cache: true

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: ${{inputs.aqua_version}}
          policy_allow: ${{inputs.aqua_policy_allow}}

      - env:
          GITHUB_TOKEN: ${{github.token}}
        run: |
          if [ -f .goreleaser.yml ] || [ -f .goreleaser.yaml ];then
            goreleaser check
          fi

      - env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
        run: golangci-lint version

      - env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
        run: go-licenses --help
      - run: go-licenses check --disallowed_types=forbidden,restricted,unknown ./...

      - uses: suzuki-shunsuke/github-action-golangci-lint@9ec42b6334deb9b6e0a92372eba2dfbb333062e1 # v0.1.5
        if: |
          github.event_name != 'pull_request' || ! github.event.pull_request.head.repo.fork
        with:
          timeout: ${{inputs.golangci-lint-timeout}}

      - run: |
          if [ -n "$INPUT_TIMEOUT" ]; then
            golangci-lint run --timeout "$INPUT_TIMEOUT"
          else
            golangci-lint run
          fi
        if: |
          github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork
        env:
          INPUT_TIMEOUT: ${{inputs.golangci-lint-timeout}}

      - run: go test -v ./... -race -covermode=atomic
